@import "../../variables";

.mobile-side-nav {
    width: 80%;
}
.title {
    color: $primary-color;
    font-weight: 500;
    font-size: 3rem;
    font-family: $app-font;
    line-height: 1.2;
    img {
        max-width: 60px;
    }
}
.goonder-nav {
    background: $white;
    border-bottom: 1px solid $white;
}
.collapse-button {
    color: $black
}
.nav-item {
    color:$black !important;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    margin-right: 1.5rem;
}
.goonder-navbar-menu {
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 575.98px) {
    .title {
        font-size: 2rem;
        img {
            max-width: 54px;
        }
    }


}