<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 social-icons text-center">
    <i class="fa fa-facebook-f facebook"></i>
    <i class="fa fa-google ml-2"></i>
</div> -->
<div class="footer fixed-bottom">
    <!-- <div class="row mx-0">        
        <div class="app-name col-sm-12">{{ 'APP_NAME' | translate }}</div>
        <div id="rightFooter" class="col-sm-6">
            <a href="#">{{ 'FOOTER.LINK01' | translate }}</a>
            <a href="#">{{ 'FOOTER.LINK02' | translate }}</a>
            <a href="#">{{ 'FOOTER.LINK03' | translate }}</a>
        </div>
        <div id="leftFooter" class="col-sm-6">
            <a href="#">{{ 'FOOTER.CONTACT' | translate }}</a>
            <a href="#">{{ 'FOOTER.ABOUT' | translate }}</a>
            <a href="#">{{ 'FOOTER.TERM' | translate }}</a>
            <a href="#">{{ 'FOOTER.HELP' | translate }}</a>
        </div>
    </div> -->
    <div id="copyrightDescription" class="d-block text-capitalize text-center w-100 order-last">
        {{ 'FOOTER.COPY_RIGHT_DESCRIPTION' | translate }}
    </div>
</div>
