@import "../../../../shared//variables";
.introduce {
    color: $white;
}
.label-input {
    color: $white;
}
.main-container {
    height: calc(100vh - (2em + 18px));
    width: 100%;
    .right-container {
        margin: 5% auto;
        justify-content: center;
    }
    img {
        width:100%;
        margin-top: 8px;
    }
}

.infomation {
    font-size: 1.3rem;
}
.header-content {
    color: $white;
}

// Assets Styling

input.form-control {
    @extend %input-decor;
}

.registerForm {
    max-width: 500px;
    font-size: 1.3rem;
}

.btn-back {
    box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.12);
    border-radius: 90px;
    border: 0;
    background-color: $blue;
    color: $white;
    padding: 0.8rem;
    font-size: 1.2rem;
}
.register-description {
    color: $grey;
}
.register-href {
    color: $white;
}